@model IEnumerable<GitHubInformation>
@{
	Layout = null;
	var config = ViewBag.Configuration as GitHubConfiguration;
}

<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.2.0/webcomponents-lite.js"></script>
	<script src="~/js/fritz-marquee.js"></script>
	<style>
		body { margin: 5px 0; }

		fritz-marquee#Contributers {
			--background-color: @(config.BackgroundColor);
			--text-color: @(config.TextColor);
			--width: @(config.Width)px;
			--speed: @(config.SpeedInSec)s;
			--font-family:  @(config.Font);
			--font-size: @(config.FontSizePt)pt;
		}

		fritz-marquee#Contributers u, b {
			@if (config.CaptionBold) {
				@:font-weight: bold;
			}
			color: @(config.CaptionColor)!important;
		}

	</style>
</head>
<body>

	<fritz-marquee id="Contributers">
		@foreach (var repo in Model)
		{
			<b>@repo.Repository</b>
			<span id="topWeek">
				<u>Top week:</u>
				@if (!repo.TopWeekContributors.Any())
				{
					@:No contributors this week
				}
				else
				{
					@await Html.PartialAsync("_ContributorTickerSegment", repo.TopWeekContributors)
				}
			</span>
			<span id="topMonth">
				<u>Top month:</u>
				@if (!repo.TopMonthContributors.Any())
				{
					@:No contributors this month
				}
				@await Html.PartialAsync("_ContributorTickerSegment", repo.TopMonthContributors)
			</span>
			<span id="topAllTime">
				<u>Top All Time:</u>
				@await Html.PartialAsync("_ContributorTickerSegment", repo.TopEverContributors)
			</span>
		}
	</fritz-marquee>
	<script src="~/lib/jquery.js"></script>
	<script src="~/lib/signalr/signalr-client.js"></script>
	<script src="~/js/mcGitHubbub.js"></script>
	<script type="text/javascript">
				(function() {
					const hub = new McGitHubbub();
					hub.onUpdated = (contributors) => {
						location.reload();
					}
					hub.start("github");
				}());
	</script>

</body>
</html>
