@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@model FollowerGoalConfiguration
<div class="py-5 text-center">
	<h2>Configure Follower Goal</h2>
	<p class="lead">
		Fill out the options below to generate a customized url to show off your follower goal.
	</p>
</div>

<div class="row">
	<div class="col-md-12 mb-6">
		Preview:
		<iframe id="widgetPreview" name="widgetPreview" scrolling="no"></iframe>
	</div>
</div>

<div class="row">
	<div class="col-md-6 mb-3">
		<label asp-for="Caption"></label>
		<input class="form-control" type="text" asp-for="Caption"  />
	</div>
	<div class="col-md-6 mb-3">
		<label asp-for="FontName"></label>
		<input class="form-control" type="text" asp-for="FontName" />
		<div id="fontsPanel">
			<label for="fontname"></label> <select id="fontNames" size="5"></select>
			<br />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 mb-3 form-group">
		<label asp-for="Goal"></label>
		<input class="form-control" type="number" asp-for="Goal" value="100" />
	</div>
	<div class="col-md-6 mb-3 form-group">
		<label asp-for="CurrentValue"></label>
		<input class="form-control" type="number" asp-for="CurrentValue" />
	</div>
</div>

	
<div class="row">
	<div class="col-md-6 mb-3 form-inline">
		<label asp-for="EmptyBackgroundColor"></label>
		&nbsp;
		<input type="color" asp-for="EmptyBackgroundColor" value="#CCCCCC" />
	</div>
	<div class="col-md-6 mb-3 form-inline">
		<label asp-for="EmptyFontColor"></label>
		&nbsp;
		<input type="color" asp-for="EmptyFontColor" />
	</div>
</div>

<div class="row">
	<div class="col-md-12 mb-3">
		<label>Fill Bar Colors</label>
		<div id="bgcolors" class="form-row">
			<div name="spanBGColor" style="display: inline-block;" class="col-md-3">
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text"><input id="bgcolor1" type="color" title="Choose one or more colors for the fill bar" value="#0000CC" class="form-control" /></div>
					</div>
					<input id="bgblend1" class="form-control" type="number" name="bgblend" value="1" title="How much of the color gets blended 0->1. Not used on the last color." />
					<div class="input-group-append">
						<div class="input-group-text btn btn-danger" onclick="removeColor()" title="Remove this color from the list."><i class="far fa-trash-alt"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row mb-3">
	<div class="col-sm-12 col-md-12">
		<button class="btn btn-secondary" onclick="addColor()" title="Add another color picker to the end of the list."><i class="fas fa-plus-circle"></i></button>
	</div>
</div>

<button id="preview" class="btn btn-lg btn-primary btn-block mb-3">Preview</button>

<div class="alert alert-info">
	<h4 class="alert-heading">Here is your URL:</h4>
	<p><a id="outputUrl" href="#" target="_blank"></a></p>
</div>

@section scripts {
		<script>
			const GoogleFontsApiKey = '@ViewBag.GoogleFontsApiKey';	

			const ConfigurationModel = {
				Caption: "@nameof(Model.Caption)",
				Goal: "@nameof(Model.Goal)",
				FontName: "@nameof(Model.FontName)",
				CurrentValue: "@nameof(Model.CurrentValue)",
				EmptyBackgroundColor: "@nameof(Model.EmptyBackgroundColor)",
				EmptyFontColor: "@nameof(Model.EmptyFontColor)",
				FillBackgroundColor: "@nameof(Model.FillBackgroundColor)",
				FillBackgroundColorBlend: "@nameof(Model.FillBackgroundColorBlend)"
			};

			var log = function (message, params) {
				@if (HostingEnvironment.IsDevelopment())
					{
						<text>console.log(message, params);</text>
					}
				};

		</script>

		<environment include="Development">
			<script src="~/js/GoalConfiguration/GoogleFonts.js"></script>
			<script src="~/js/GoalConfiguration/Preview.js"></script>
			<script src="~/js/GoalConfiguration/GoalConfiguration.js"></script>
		</environment>
		<environment exclude="Development">
			<script src="/js/GoalConfiguration.min.js" asp-append-version="true"></script>
		</environment>
	}

@section styles {
	<style>

		label:after {content: ":"}

		#bgcolors .input-group-prepend .input-group-text {
			background-color: inherit;
			color: inherit;
		}
	</style>
}
