@model FollowerGoal
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Followers Goal</title>
    <style>

        .followerBar {
            background: #ccc;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            padding: 2px 8px;
        }

        .followerBar span {
            font-family: Arial;
            font-size: 16pt;
            font-weight: 600;
        }

        #progress {
            overflow: hidden;
            position: absolute;
        }

        #fill {
            background-color: #00F;
            color: #FFF;
        }

        .followerBar span {
            flex: 1;
        }

        .current {
            text-align: center;
        }

        .goal {
            text-align: right;
        }

    </style>
</head>
<body>
    <div id="progress" style="width: @(ViewBag.Width * Model.CurrentValue / Model.GoalValue)px;">
        <div class="followerBar" id="fill" style="width: @(ViewBag.Width)px">
            <span class="caption">@Model.Caption</span>
            <span class="current">@Model.CurrentValue</span>
            <span class="goal">@Model.GoalValue</span>
        </div>
    </div>
    <div class="followerBar" style="width: @(ViewBag.Width)px">
        <span class="caption">@Model.Caption</span>
        <span class="current">@Model.CurrentValue</span>
        <span class="goal">@Model.GoalValue</span>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        if (typeof Promise === 'undefined') {
            document.write('<script type="text/javascript" src="lib/signalr/signalr-clientES5-1.0.0-alpha2-final.min.js"><\/script>');
        }
        else {
            document.write('<script type="text/javascript" src="lib/signalr/signalr-client-1.0.0-alpha2-final.min.js"><\/script>');
        }
    </script>
    <script type="text/javascript">
<!--

        var fullBarWidth = @ViewBag.Width;
        var goalValue = @Model.GoalValue;

        let connection = new signalR.HubConnection("followerstream");
        connection.start().then(function () {

            

        });

        connection.on("dostuff", function (data) {
            // do stuff with my data

        })


        /**
        $().ready(function () {

            window.setInterval(function () {

                $.ajax({
                    url: "/api/Followers"
                }).done(function (data) {

                    document.getElementsByClassName("current")[0].textContent = data;
                    document.getElementsByClassName("current")[1].textContent = data;
                    document.getElementById("progress").style.width = (fullBarWidth * parseInt(data,10) / goalValue) + "px";

                })

            }, 5000)

        });
        **/
//-->
    </script>

</body>
</html>
